[Interface]
PrivateKey = WIEM0HMoMoMWCLoAuw9TTn8VtMQXWhUMVtFgLtBfa1U=
Address = 10.8.0.2
DNS = 1.1.1.1

[Peer]
PublicKey = 8Tvk/QSfOGfRN/EiIZJwTY27sWUaK57XEQms4CJesj0=
Endpoint = 192.168.56.5:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
